@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;font-family:"微软雅黑";}
a{display:block;color: inherit;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul li{list-style-type:none;}
img{border:0px;display:block;vertical-align: top;}
.clear{clear:both;}
body{background:#fff;position: relative;}
i{display: inline-block;vertical-align: top;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

  


.wrap{width: 950px;min-height: 500px;  margin: 0 auto;padding-bottom: 87px;
    position: relative;    z-index: 5;background: #fff;}


.s_wrap{background: #fff;height: 48px;line-height: 48px;margin-bottom: 21px;border-bottom: 2px solid #ddd;}
.s_wrap .news_title{width: 950px;  margin: 0 auto;
    position: relative;  font-size: 16px;color: #333;font-weight: 800; }
     
.s_wrap .news_title ul{float: right;font-size: 14px;font-weight: normal;}
.mianbao{font-size: 14px;color: #737373;}
					.mianbao a{display: inline;padding: 0 4px;}
					.mianbao a:hover{text-decoration: underline;}
.s_wrap li{float: left;padding-left: 29px;}
.s_wrap li a:hover{text-decoration: underline;}

.wrap .title{font-size: 20px;color: #333;text-align: center;}
.wrap .time{font-size: 14px; color: #808080;text-align: center;padding-top: 5px;border-bottom: 1px dashed #9e9e9e;padding-bottom: 20px;}
.wrap .content{padding: 20px 0;text-align: center;}
.page{text-align: center;}
.page a{display: inline-block;vertical-align: top;border: 1px solid #cccccc;color: #333333;padding: 4px 25px;border-radius:100px ;margin:0 19px ;}
